# ==========================
# LangChain Core
# ==========================
langchain>=0.3.27
langchain-core>=0.3.75
langchain-community>=0.3.27
langchain-openai>=0.3.30
langchain-chroma>=0.2.5

# ==========================
# Vector Database
# ==========================
chromadb>=1.0.20

# ==========================
# PDF Loader
# ==========================
pypdf>=5.9.0

# ==========================
# Text Splitters
# ==========================
langchain-text-splitters>=0.3.9

# ==========================
# Multi Query / Retrieval
# ==========================
rank-bm25>=0.2.2

# ==========================
# Re-ranking
# ==========================
sentence-transformers>=5.1.0
torch>=2.8.0

# ==========================
# Tokenization
# ==========================
tiktoken>=0.11.0

# ==========================
# Environment Variables
# ==========================
python-dotenv>=1.1.1

# ==========================
# Utilities
# ==========================
numpy>=2.3.2
pandas>=2.3.2